@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.difficulty-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.difficulty-button {
  background-color: $background-color;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  outline: 1px solid #ccc;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.difficulty-button:hover {
  background-color: #ccc;
}

.difficulty-button.selected {
  background-color: #4caf50;
  color: #fff;
}
